## Flight Seat Discount
**Validations:**

* Email ID is valid
* The mobile phone is valid
* Ticketing date is before travel date
* PNR is 6 characters and Is alphanumeric
* The booked cabin is valid (one of Economy, Premium Economy,Business, First)

**FareClass insights and validation error message**
* Fare class A - E will
have discount code OFFER_20, F - K will have discount code OFFER_30, L - R will have OFFER_25;
rest will have no offer code
* Each failing record should have an additional field that will contain the reason(s) for
the validation failure.

In [1]:
import pandas as pd
import numpy as np
from validate_email import validate_email
cabin=['Economy', 'Premium Economy','Business','First']

In [2]:
df=pd.read_csv("input.csv", header=0)
dfo=df
reason={}

In [3]:
df.info

<bound method DataFrame.info of   First_name Last_name     PNR Fare_class Travel_date  Pax Ticketing_date  \
0   Abhishek     Kumar  ABC123          F  2019-07-31    2     2019-05-21
1      Monin    Sankar   PQ234          C  2019-08-30    2     2019-05-22
2    Radhika    Suresh  ZZZ345          T  2019-05-31    4     2019-05-21
3    Kalyani       Ben  A1B2C3          M  2019-04-30    1     2019-05-21
4    Somnath     Batra  X1Y2Z4          Z  2019-07-25    3     2019-05-23

              Email  Mobile_phone    Booked_cabin
0  abhishek@zzz.com    9876543210         Economy
1     monin@zzz.com    9876543211         Economy
2       radhika@zzz    9876543212        Business
3    ​kben@zzz.com​    9876543213  PremiumEconomy
4    sbatra@zzz.com    9876543214         Economy  >

In [4]:
df.head()

,First_name,Last_name,PNR,Fare_class,Travel_date,Pax,Ticketing_date,Email,Mobile_phone,Booked_cabin
0,Abhishek,Kumar,ABC123,F,2019-07-31,2,2019-05-21,abhishek@zzz.com,9876543210,Economy
1,Monin,Sankar,PQ234,C,2019-08-30,2,2019-05-22,monin@zzz.com,9876543211,Economy
2,Radhika,Suresh,ZZZ345,T,2019-05-31,4,2019-05-21,radhika@zzz,9876543212,Business
3,Kalyani,Ben,A1B2C3,M,2019-04-30,1,2019-05-21,​kben@zzz.com​,9876543213,PremiumEconomy
4,Somnath,Batra,X1Y2Z4,Z,2019-07-25,3,2019-05-23,sbatra@zzz.com,9876543214,Economy

# Validation Steps

In [5]:
def pnrvalidate(element):
    if element:
        element=str(element).strip()
        return len(element)==6 and element.isalnum()
    else:
        return False

In [6]:
def validation_error_log(l,error):
    for a in l:
        if a in reason.keys():
            reason[a]+=error
        else:
            reason[a]=error

In [7]:
boolpnrvalidate=df['PNR'].astype(str).apply(lambda x:pnrvalidate(x))
l=list(df[np.logical_not(boolpnrvalidate)].index)
if len(l)>0:
    validation_error_log(l,'PNR corrupted;')

df=df[boolpnrvalidate]
print(df)
print(reason)

  First_name Last_name     PNR Fare_class Travel_date  Pax Ticketing_date  \
0   Abhishek     Kumar  ABC123          F  2019-07-31    2     2019-05-21
2    Radhika    Suresh  ZZZ345          T  2019-05-31    4     2019-05-21
3    Kalyani       Ben  A1B2C3          M  2019-04-30    1     2019-05-21
4    Somnath     Batra  X1Y2Z4          Z  2019-07-25    3     2019-05-23

              Email  Mobile_phone    Booked_cabin
0  abhishek@zzz.com    9876543210         Economy
2       radhika@zzz    9876543212        Business
3    ​kben@zzz.com​    9876543213  PremiumEconomy
4    sbatra@zzz.com    9876543214         Economy
{1: 'PNR corrupted;'}

In [8]:
def mobilevalidate(element):
    if element:
        return len(element)==10 and element.isalnum()
    else:
        return False

In [9]:
boolmobilevalidate=df['Mobile_phone'].astype(str).apply(lambda x:mobilevalidate(x))
l=list(df[np.logical_not(boolmobilevalidate)].index)
if len(l)>0:
    validation_error_log(l,'Mobile phone value corrupted;')
df=df[boolmobilevalidate]
print(df)
print(reason)

  First_name Last_name     PNR Fare_class Travel_date  Pax Ticketing_date  \
0   Abhishek     Kumar  ABC123          F  2019-07-31    2     2019-05-21
2    Radhika    Suresh  ZZZ345          T  2019-05-31    4     2019-05-21
3    Kalyani       Ben  A1B2C3          M  2019-04-30    1     2019-05-21
4    Somnath     Batra  X1Y2Z4          Z  2019-07-25    3     2019-05-23

              Email  Mobile_phone    Booked_cabin
0  abhishek@zzz.com    9876543210         Economy
2       radhika@zzz    9876543212        Business
3    ​kben@zzz.com​    9876543213  PremiumEconomy
4    sbatra@zzz.com    9876543214         Economy
{1: 'PNR corrupted;'}

In [10]:

booldatevalidate=pd.to_datetime(df['Travel_date'], utc=True).dt.strftime('%Y-%m-%d %H:%M:%S')>=pd.to_datetime(df['Ticketing_date'], utc=True).dt.strftime('%Y-%m-%d %H:%M:%S')
l=list(df[np.logical_not(booldatevalidate)].index)
if len(l)>0:
    validation_error_log(l,'Travel date value corrupted;')
df=df[booldatevalidate]
print(df)
print(reason)

  First_name Last_name     PNR Fare_class Travel_date  Pax Ticketing_date  \
0   Abhishek     Kumar  ABC123          F  2019-07-31    2     2019-05-21
2    Radhika    Suresh  ZZZ345          T  2019-05-31    4     2019-05-21
4    Somnath     Batra  X1Y2Z4          Z  2019-07-25    3     2019-05-23

              Email  Mobile_phone Booked_cabin
0  abhishek@zzz.com    9876543210      Economy
2       radhika@zzz    9876543212     Business
4    sbatra@zzz.com    9876543214      Economy
{1: 'PNR corrupted;', 3: 'Travel date value corrupted;'}

In [11]:
boolemailvalidate=df['Email'].astype(str).apply(lambda x:validate_email(x))
l=list(df[np.logical_not(boolemailvalidate)].index)
if len(l)>0:
    validation_error_log(l,'Email value corrupted;')
df=df[boolemailvalidate]
print(df)
print(reason)

  First_name Last_name     PNR Fare_class Travel_date  Pax Ticketing_date  \
0   Abhishek     Kumar  ABC123          F  2019-07-31    2     2019-05-21
2    Radhika    Suresh  ZZZ345          T  2019-05-31    4     2019-05-21
4    Somnath     Batra  X1Y2Z4          Z  2019-07-25    3     2019-05-23

              Email  Mobile_phone Booked_cabin
0  abhishek@zzz.com    9876543210      Economy
2       radhika@zzz    9876543212     Business
4    sbatra@zzz.com    9876543214      Economy
{1: 'PNR corrupted;', 3: 'Travel date value corrupted;'}

In [12]:

boolcabinvalidate=df['Booked_cabin'].apply(lambda x:str(x) in cabin)
l=list(df[np.logical_not(boolcabinvalidate)].index)
if len(l)>0:
    validation_error_log(l,'Booked cabin value corrupted;')
df=df[boolcabinvalidate]
print(df)
print(reason)

  First_name Last_name     PNR Fare_class Travel_date  Pax Ticketing_date  \
0   Abhishek     Kumar  ABC123          F  2019-07-31    2     2019-05-21
2    Radhika    Suresh  ZZZ345          T  2019-05-31    4     2019-05-21
4    Somnath     Batra  X1Y2Z4          Z  2019-07-25    3     2019-05-23

              Email  Mobile_phone Booked_cabin
0  abhishek@zzz.com    9876543210      Economy
2       radhika@zzz    9876543212     Business
4    sbatra@zzz.com    9876543214      Economy
{1: 'PNR corrupted;', 3: 'Travel date value corrupted;'}

Fare class A - E will
have discount code OFFER_20, F - K will have discount code OFFER_30, L - R will have OFFER_25;
rest will have no offer code

# Add Fareclass to validated data

In [13]:
def code(el):
    el=str(el)
    if el>='A' and el <= 'E':
        return "OFFER_20"
    elif el>='F' and el <= 'K':
        return "OFFER_30"
    elif el>='L' and el <= 'R':
        return "OFFER_25"
    else:
        return None

In [14]:
df['Discount_code']=df['Fare_class'].apply(code)

In [15]:
column_validated = [a for a in list(df.index) if a not in list(reason.keys())]
validated = df.loc[column_validated]
print(validated)

  First_name Last_name     PNR Fare_class Travel_date  Pax Ticketing_date  \
0   Abhishek     Kumar  ABC123          F  2019-07-31    2     2019-05-21
2    Radhika    Suresh  ZZZ345          T  2019-05-31    4     2019-05-21
4    Somnath     Batra  X1Y2Z4          Z  2019-07-25    3     2019-05-23

              Email  Mobile_phone Booked_cabin Discount_code
0  abhishek@zzz.com    9876543210      Economy      OFFER_30
2       radhika@zzz    9876543212     Business          None
4    sbatra@zzz.com    9876543214      Economy          None

In [16]:
invalidated=dfo.loc[list(reason.keys()),:]

In [17]:
invalidated["validation_failure_reason"]=reason

In [18]:
invalidated["validation_failure_reason"].replace(reason, inplace=True)
print(invalidated)

  First_name Last_name     PNR Fare_class Travel_date  Pax Ticketing_date  \
1      Monin    Sankar   PQ234          C  2019-08-30    2     2019-05-22
3    Kalyani       Ben  A1B2C3          M  2019-04-30    1     2019-05-21

            Email  Mobile_phone    Booked_cabin     validation_failure_reason
1   monin@zzz.com    9876543211         Economy                PNR corrupted;
3  ​kben@zzz.com​    9876543213  PremiumEconomy  Travel date value corrupted;

# Export Validated and invalidated data to separate files

In [19]:

validated.to_csv(r'validated.csv',index=False)
invalidated.to_csv(r'invalidated.csv',index=False)