## Flight Seat Discount

In [2]:
import pandas as pd

In [7]:
df=pd.read_csv("input.csv", header=0)

In [9]:
df.describe()

              2    9876543210
count  4.000000  4.000000e+00
mean   2.500000  9.876543e+09
std    1.290994  1.290994e+00
min    1.000000  9.876543e+09
25%    1.750000  9.876543e+09
50%    2.500000  9.876543e+09
75%    3.250000  9.876543e+09
max    4.000000  9.876543e+09